<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2 th:inline=text>
                    Hello, [[${name}]]!
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p>And welcome to my website</p>
            </div>
        </div>
        <div class="row">
            <div th:each="card : ${cards}">
                <div class="col-sm-4">
                    <button class="btn btn-primary m-4" type="button" data-toggle="collapse" th:attr="data-target='#'+${card.getId()}" aria-expanded="false" th:attrappend="aria-controls=${card.getId()}" th:text="${card.getTitle()}"></button>
                </div>
            </div>
        </div>
        <div th:each="card : ${cards}">
            <div class="collapse" th:id="${card.getId()}" style="margin-top:4px">
                <div class="card card-body" style="border: 2px solid grey; border-radius: 5px">
                    <div th:each="line : ${card.getContent()}">
                        <h4 th:inline="text" style="padding-left: 4px">
                            <strong>[[${line.getHeading()}]]</strong>
                        </h4>
                        <p style="padding-left: 4px">
                            [[${line.getBody()}]]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>